@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background-color: whitesmoke;
  background-image: linear-gradient(
      rgba(103, 103, 103, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url(covid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
  padding: 0px;
}

h1 {
  color: rgb(161, 46, 46);
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}

p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-top: -30px;
  color: white;
}

.dataDiv {
  border: 10px solid rgb(161, 46, 46);
  height: 556px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.605);
  margin-bottom: 180px;
  display: inline-block;
  justify-content: center;
  vertical-align: top;
  margin-top: 50px;
  margin-right: 30px;
  margin-left: 30px;
}

.sd {
  width: auto;
  height: 556px;
  margin-bottom: 180px;
  border: 10px solid rgb(161, 46, 46);
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  margin-top: 50px;
}

.container {
  width: 1400px;
  margin: auto;
  margin-bottom: 400px;
  margin-top: 70px;
}
