body {
  background-image: url(suitcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

h3 {
  color: white;
}

p {
  color: white;
}

.divs {
  padding: 10px;
  margin-bottom: 30px;
  width: 25%;
  margin-left: 34%;
  margin-top: 20px;
  border: 10px solid white;
}
